
// tablet, phone instelling

$breakpoint-tablet: 768px;
$breakpoint-phone: 767px;
$breakpoint-desktop: 808px;


// IF else voor wat het is

$button-type: warning;

.button {
  padding: 10px 16px;
  color: white;
  border: none;

  @if $button-type == primary {
    background-color: blue;
  } @else if $button-type == warning {
    background-color: orange;
  } @else {
    background-color: gray;
  }
}


// for-loop p-1  naar  p-5 (10px to 50px)
@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i}0px;
  }
}



// while loop voor verhoogte font size (text-1 to text-3) +5 

$font-size: 15;
$i: 1;

@while $i < 4 {
  .text-#{$i} {
    font-size: #{$font-size * $i}px;
  }
  $i: $i + 1;
}





