/* CSS Grid Layout */

@import 'config.scss';

$primary-color: #D9D9D9;
$secondary-color: #2D3648;
$purple-color: #4F378A;
$font-default: "Inter";
$font-weight-default: 500;


* {
    box-sizing: border-box;
    margin: auto;   
}


.paragraph-style1 {
    font-weight: 300;
    display: flex;
    justify-content: center;

}



p {
    @extend paragraph-style1  !optional;
}


h1 {
    color: whitesmoke;
    background-color: #4F378A;
    border: 3px solid;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 7%;
    width: 13%;
    padding: 2%;
    text-align: center;
    font-family: $font-default;
    font-weight: $font-weight-default;
    
}

section {
    article {
        grid-area: content;
        padding: 5%;
        background-color: ghostwhite;
        display: block;
        justify-content: center;
    }
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 5%;
    font-family: 'sans-' + 'serif';
}

nav {
    display: flex;
    font-family: Arial, sans-serif;
    grid-area: menu;
    justify-content: center;
    padding: 1%;
    width: 50%;

    // Genestelde ul
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
           align-self: start;
        }
    }

}

a {
    color: $primary-color;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    
    
    &:hover {
         color: $purple-color;
         border-bottom: 2px solid $secondary-color;
         width: 40%;
         margin: 0 auto;
         padding: 10%;

    }

    &::after {
      //  content: ' →';
    }
    
}



/* icon */

label {
    display: none;
    padding: 15px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}


@media (min-width: $breakpoint-tablet) {
    ul {
        display: flex;
    }
    
    li {
        border: none;
    }
}

/* Mobile view */

@media (max-width: $breakpoint-phone) {
    label {
        display: flex;
        color: black;

        &::before {
            content: "☰";
            border-style: solid;
            font-size: 24px;
            height: 44px;
            width: 44px;
            border-radius: 6px;
        }
    }

    ul {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-out;
        margin-left: 50%;
    }



    input:checked ~ ul {
        max-height: 500px; /* Hoog genoeg voor alle items */
        display: inline-block;
    }

    /* lijnen */
    
    input:checked + label::before {
        content: "✕";
        height: 30px;
    }
}


