// Configuratie

$primary_font: 'Helvetica', sans-serif;
$size: 20px;
$weight: 50%;
$color: #4e08b1;
$secondary-color: #f4f4f4;
$padding: 5px;

@mixin font-style($size, $weight) {
    font-family: $primary_font;
    font-size: $size;
    font-weight: $weight;
}

@mixin bg-box($color) {
    background-color: $color;
    padding: 600px / 960px * 100%;
}

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


.line  {
    color: black;
}