ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Style for deposits */
li.deposit {
    background-color: #e0f7fa;
    border-left: 5px solid #00bcd4;
}

/* Style for withdrawals */
li.withdrawal {
    background-color: #ffecb3;
    border-left: 5px solid #ff9800;
}


select {
    width: 200px;
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling the options within the dropdown */
select option {
    background-color: #fff;
    color: #333;
    padding: 5px; /* Padding on options has limited support */
}


select option:checked {
    background-color: #007bff; 
    color: white;
}
